* {
    box-sizing: border-box;
    touch-action: manipulation;
}

/*#region BASE  */

body {
    margin: 20px;
    background-color: #22252c;
}

/*#endregion  */

/*#region FONTS*/

@font-face {
    font-family: popReg;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: popBold;
    src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}

/*#endregion*/

/*#region HEADER*/

.main-header {
    height: 73px;
    padding: 0px 30px;
    border-radius: 37px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    box-shadow: inset 0 -6px 0 #1e1e1e;
}

.main-header .header-content {
    height: inherit;
}

.logo {
    width: 85px;
    color: #ffffff;
    font-family: popReg;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}

.main-nav a {
    margin-left: 60px;
    text-shadow: 0 1px 0 #1e1e1e;
    color: #ffffff;
    font-family: popReg;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 520px) {
    .main-header {
        padding-left: 19px;
        padding-right: 20px;
    }
    .main-nav a {
        margin-left: 14px;
        font-size: 0.9rem;
    }
}

/*#endregion*/

/*#region MAIN */

.main-container {
    padding: 30px 0;
}

.main-container.hide {
    display: none;
}

.panel-container {
    background-color: lightgray;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 1px 2px 26px 1px #ffffff5d;
    background-color: #68686879;
    order: 1;
    align-items: center;
}

.grid-panel {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 20%);
    grid-template-columns: repeat(5, 20%);
}

.canvas-container {
    width: 500px;
    height: 500px;
}

canvas {
    border-radius: 30px;
    box-shadow: 1px 2px 26px 1px #ffffff6f;
    display: inline-block;
}

@media (max-width: 980px) {
    .canvas-container {
        margin-bottom: 2rem;
    }
}

@media (max-width: 600px) {
    .canvas-container {
        margin-bottom: 2rem;
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 420px) {
    .canvas-container {
        margin-bottom: 2rem;
        width: 300px;
        height: 300px;
    }
}

/*#endregion  */

/*#region PANEL ITEMS  */

/*#region INPUT TEXT  */

.text-box {
    padding: 0.2rem 0.8rem;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    justify-content: center;
    margin-bottom: 1rem;
    width: -webkit-fill-available;
}

.text-box input {
    text-align: center;
    color: #3d3d3d;
    font-family: popReg;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #ffffff00;
    border: none;
    letter-spacing: 1px;
    width: inherit;
}

.text-box input:focus {
    outline: 1px solid #bbc4d1;
}

/*#endregion  */

/*#region BTN SWITCH  */

.btn {
    width: 53px;
    height: 53px;
    border-radius: 10px;
    background-color: #ebeef3;
    outline: none;
    border: none;
}

.btns-container {
    margin-bottom: 1rem;
}

.btns-container>* {
    margin-left: 1.2rem;
}

.btn-square {
    /* background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%); */
    background-color: #ffff3cbf;
    box-shadow: 1px 5px 0 #a9a300, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    /* font-size: 1rem; */
    color: white;
    text-shadow: 1px 3px 0 rgba(1, 93, 51, 0.61);
}

.btn-square:active {
    line-height: 10px;
}

.btn-switch-lines {
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn-add {
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    font-size: 3.2rem;
    color: white;
    text-shadow: 1px 3px 0 rgba(1, 93, 51, 0.61);
}

.btn-add:active {
    line-height: 10px;
}

.btn-delete {
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn:active {
    box-shadow: none;
}

.btn img {
    margin-top: 12px
}

.btn:active img {
    margin-top: 0px
}

.btn-square img {
    margin-top: 9px
}

/*#endregion */

/*#region BTN EDIT  */

.btns-edit-container {
    width: 370px;
    padding: 10px 10px 0;
    height: block;
    border-radius: 15px;
    background-color: #19a59ea8;
}

.btns-edit-container>* {
    margin-left: 1.2rem;
    margin-bottom: 1rem;
}

.btns-edit-container>*:first-child {
    margin-left: 0;
}

.btn-white {
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.btn-white img {
    width: 44px;
    position: relative;
    top: -8px;
    right: 2px;
}

.btn-white:active img {
    margin-top: 8px
}

.num-box {
    padding: 0.2rem 0.8rem;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100px;
    padding-top: 12px;
}

.num-box input {
    text-align: center;
    color: #3d3d3d;
    font-family: popReg;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #ffffff00;
    border: none;
    letter-spacing: 1px;
    width: 80px;
}

.num-box input:focus {
    outline: 1px solid #bbc4d1;
}

.font-selector.btn {
    width: auto;
    padding: 0 5px;
    font-family: popReg;
    font-size: x-large;
}

/*#endregion  */

/*#region DOWNLOAD  */

.btns-container.social {
    margin-top: 1rem;
}

.social>* {
    font-family: popReg;
    display: inline-block;
    width: 140px;
    padding: inherit;
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.download {
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff59;
    background-color: #1e7cd3;
}

.publish {
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #ffffff8c;
    background-color: #8f44bb;
    width: 140px;
    font-size: 1rem;
    font-family: popReg;
    color: white;
    text-decoration: none;
}

.share {
    box-shadow: 1px 6px 0 #42eb5c, inset 0 5px 0 #ffffff8c;
    background-color: #26ab3b;
    width: 140px;
    font-size: 1rem;
    font-family: popReg;
    color: white;
    text-decoration: none;
}

/*#endregion  */

/*#endregion */

/*#region FLEX*/

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

/*#endregion*/

/*#region GRID */

.grid-container {
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    margin-bottom: inherit;
}

.grid-container img {
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 7%;
    height: 160px;
    box-sizing: border-box;
    justify-self: center;
}

.grid-container a {
    margin: auto;
}

.placeholder {
    /* background: url("../img/dog.jpg"); */
    background-position: center center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/*#endregion  */

/*#region Fotter  */

.row.me-row {
    display: flex;
    flex-wrap: wrap;
    background-color: #e5e4e4;
    font-family: sans-serif, Arial, Helvetica;
    justify-content: center;
}

.team-member {
    text-align: center;
    padding: 10px 0px;
}

.img-container {
    width: 225px;
    height: 225px;
    display: inline-block;
    background-image: url(../img/shay.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.team-member img {
    width: 225px;
    border: 7px solid white;
    border-radius: 50%;
}

.team-member h4 {
    margin-top: 4px;
    margin-bottom: 0;
    text-transform: none;
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.team-member p {
    margin-block-start: 3px;
    margin-block-end: 0px;
}

.text-muted {
    color: #868e96!important;
}

ul.social-buttons {
    margin-bottom: 0;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #222222;
}

ul.social-buttons li a:hover {
    background-color: #37b34a;
    text-shadow: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.flex-align-center {
    align-self: center;
    padding: 0px 30px;
    text-align: center;
}

@media (min-width: 830px) {
    .col-sm-8 {
        -ms-flex: 0 0 66%;
        flex: 0 0 66%;
        max-width: 66%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-sm-4 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 829px) {
    .col-sm-8 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-4 {
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }
}

@media (max-width: 650px) {
    .col-sm-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-sm-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*#endregion  */